
.newPrice {
  label {
    float: left;
    padding-left: 10px;
  }

  #addAnotherPrice {
    float: left;
  }
}

.list {
  a {
    margin-left: 15px;
  }

  .list-row {

    clear: both;
    margin-left: 5px;

    &.header {
      color: red;
    }

    div {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
