New Price
%br
%input{type: 'number', id: 'cost'}
%br
%select{id: 'grade'}
%br
%input{type: 'checkbox', id: 'addAnotherPrice'}
%label{for: 'addAnotherPrice'} Add Another Price
%br{style: 'clear: both;'}
%input{type: 'submit', id: 'save', value: 'Save', class: 'btn-primary btn'}
%input{type: 'submit', id: 'refetchLocation', value: 'Refetch Location', class: 'btn'}
